<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Task Tracker </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- Kendo UI CSS -->
    <link href="~/Content/assets/kendoui2021/kendo/style/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/assets/kendoui2021/kendo/style/kendo.blueopal.min.css" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

    <link href="~/Content/js/toastr.min.css" rel="stylesheet" />
    @await RenderSectionAsync("Style", required: false)
</head>
<body>
    

        <main >
            @RenderBody()
        </main>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/Content/assets/kendoui2021/kendo/kendo.all.min.js"></script>
    <script src="~/Content/AdminLte/plugins/toastr/toastr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
